@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin:0;
    padding: 0; 
}
body {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
.sidebar{
    position: absolute;
    background-color: rgb(31, 171, 167);
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
    padding: 45px;   
}
/* .sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
} */
.sidebar nav li a{
    /* text-decoration: none; */
    color: black; 
 }
body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

nav ul{
    list-style-type: none;
    font-size: 30px;
    padding: 33px 0px;
    
}

nav ul li {
    --c: goldenrod;
    color: var(--c);
    font-size: 20px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 9em;
    height: 4em;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Fira Sans', sans-serif;
    letter-spacing: 0.3em;
    text-align: center;
    line-height: 4em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul  li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
}
.container{
    display:flex;

}
.infoContainer{
    /* background-color: pink; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;

}
.devInfo{
    font-size: 16px;
    display: flex;
    justify-content : center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 3em;
}

.name{
    font-size: 3em;
    font-weight: bolder;
}

.about{
    font-size: 2.5em;
}

.moreabout{
    font-size: 2em;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif;
}
.buttons{
    margin-top: 2.2em;
    font-size: 16px;
}
.btn{
    padding:9px 14px;
    border-radius:22px ;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 2em;
    margin: 3px 3px;
    cursor: pointer;
}
.btn-sm{
    font-size: 10px;
}
.btn:hover{
    background-color:white;
    color: dodgerblue;
}
.devPic img{
    height: 58vh;
}
.contactform{
    padding: 0px 34px;
    /* padding-top: 144px; */
    font-family: 'Fira Sans', sans-serif;
    margin: 88px 100px;
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    /* padding: 12px 0; */
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
   /* width: 26vw ; */
   border-radius: 5px;
   margin: 6px 0 0 0;
    padding: 3px;

}
.contactform form div input{
   animation-duration: 0 40px;
}
#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}
.blogitem {
    margin:20px;
    font-family: 'Fira Sans', sans-serif;
}
.blogcontainer{
    margin:88px 100px;
    font-size: 28px;
}
h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
}
p{
    font-family: 'Fira Sans', sans-serif;
}
.intro{
    margin:88px 100px;
    font-size: 2.5em;
}
.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px 12px;
}
.intro p{
    font-family: 'Fira Sans', sans-serif;
}
.skillcontainer{
    padding: 12px;

}
.skillitem{
    display: flex;
    align-items: center;
}
.skill{
    width: 23px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
    font-weight: 900;
}
.hundred{
    width:240px;
}
.seventyfive{
    width: 180px;
    background-color: blueviolet;
}
.fifty{
    width: 120px;
    background-color: aqua;
}
.t5{
    width: 60px;
    background-color: yellow;
}
.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.ham{
    margin-top: 10px;
    margin-left: 10px;
}
.cross{
    margin-left: 292px;
    margin-top: 10px;
    margin-top: 3px;
}
@media (max-width: 1011px){
   .devPic{
    display:none;
   }
   .intro, .blogcontainer, .contactform{
    margin: 50px 8px;
   }
   .devInfo{
    font-size: 10px;
   }
   .buttons{
    font-size: 6px;
   }
   .intro{
    font-size: 1em;
   }
   .blogcontainer{
    font-size: 0.75em;
    
   }
    /* .sidebar{
        transform: translate(-443,0px);
        position: absolute;
    }
} */
}